:root{
    --firstclr:#7c7c7c;
    --secclr:#1c1c1c;
    --thirdclr: #edeff1;
    --fourcle: #0079d3;
}
.userSettingsContainer{
    margin-top: 4rem;
}
#user_settings{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    padding: 16px 20px 20px;
}
.user-settings-links{
    padding: 0 20px;
    border-bottom: 1px solid var(--thirdclr);
    margin: 0 auto;
    max-width: 1200px;
}
.user-settings-links .setting-link{
    color: var(--firstclr);
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    line-height: unset;
    margin-right: 8px;
    padding: 15px 12px 12px 12px;
    text-decoration: inherit;
}
.user-settings-links .setting-link:hover{
    color: black;
}

.setting-link.active{
    color: black;
    border-bottom-color: #0079d3;
    border-width: 0 0 2px 0;
}

@media screen and (max-width: 930px) {

    .user-settings-links {
        display: flex;
        flex-wrap: wrap;
    }
}