@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
  font-family: 'IBM Plex Sans', Arial, sans-serif;

}

.UserManagement{
  font-size: 18px;
  font-weight: 700;

}


.changeButtons2, .changeButtons3{
  padding: 10px;
  border-radius: 999px;
  font-size: 16px;
  font-family: 'IBM Plex Sans', Arial, sans-serif;
  color: rgb(87, 111, 118);
  font-weight: 700;
}

.changeButtons3{
  background-color: #E2E7E9;
  color: black;
}