:root {
  --secclr: #1c1c1c;
  --thirdclr: #edeff1;
  --fourcle: #0079d3;
  --fif: #878a8c;
}

.button-method {
  display: flex;
  flex-direction: row;
  margin: 0 0 12px;
  overflow: auto;
}

.button-post-method {
  width: 245px;
  font-size: 14px;
}

.button-post-method:hover {
  background-color: lightblue;
}

.post-methods {
  overflow-x: auto;
  white-space: nowrap;
}

@media(max-width: 774px) {
  .button-method {
    display: inline-block;
  }

  .button-post-method {
    flex: 0 0 auto;
  }
}