:root {
    --secclr: #1c1c1c;
    --thirdclr: #edeff1;
    --fourcle: #0079d3;
    --fif: #878a8c;
}

.container-create-post {
    display: flex;
    background: #DAE0E6;
}

.container-create-post .left-container-post {
    align-items: center;
    width: 70%;
}

.container-create-post .right-container-post {
    flex: 0 0 312px;
    width: auto; 
    display: block;
    margin-left: 24px;
}

.cont-create-post {
    padding: 4px;
    margin: 16px 0;
    border-bottom: 1px solid white;
    display: flex;
}

.create-post-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: var(--secclr);
    flex: 1;
}

.new-post-form {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media(max-width:960px){
    .container-create-post .left-container-post {
        margin: 0;
        width: 100%;
        padding: 20px 24px 20px 24px;
    }
    .container-create-post .right-container-post {
        display: none;
    }
}