.community-container{
    margin-left: 18rem;
    margin-top: 3rem;
    margin-bottom: 0.25rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    width: 100%;
    margin-right: auto;
    
}

@media (max-width: 1200px) {
    .community-container{
        margin-left: 7rem!important;
    }
}

.community-content {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  
  justify-content: space-between;
}

.community-post {
  flex: 0 0 100%;
  max-width: 100%;
}

.community-info {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  display: none;
  
  
}

@media (min-width: 992px) {
  .community-info {
      display: block;
  }
  .community-post {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}

.comm-background{
    height: 7rem;
    width: 100%;
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 1rem;
}
.list{
    display: flex;
    justify-content: start;
}
.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
}
.dropbtn {
    background-color:none;
    color:rgb(90, 111, 118);
    padding: 0.4rem;
    margin-left: 10px;
    font-size: 13px;
    font-weight: 600;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: rgb(210, 216, 219);
  }
  
  .dropdown {
    position: relative;
    display: flex;
    flex-direction: row;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: fit-content;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
  }
  
  .dropdown-content .link-sort {
    color: black;
    padding: 10px 12px 12px 10px;
    
    font-size: 15px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content .Sort-title {
    padding: 10px 12px 0px 10px;
    color: black;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    display: block;
  }
  
  .dropdown .link-sort:hover {background-color: #ddd;}
  
  .show {display: block;}
  .arrow-icon{
    margin-left: 0.5rem;
  }
  .headings-titles{
    font-size: 10px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 12px;
    border-bottom: 1px solid var(--thirdclr);
    text-transform: uppercase;
    color: var(--firstclr);
}
.subreddit-name{
    font-size: 15px;
    font-weight: 700;
    position: relative;
    top: -4rem;
    justify-content: space-between;


}
.community-body{
  position: relative;
    top: -4rem;
}
.subreddit-background{
  width: 100%;
  height: 100px;
  border-radius: 5px;
}


.comm-black-button:hover{
  border-color: black!important;
}

.comm-join-button{
  background-color:rgb(42, 88, 195)!important;
  color: white!important;
}
.comm-join-button:hover{
  background-color:rgb(19, 53, 133)!important;
  
}