:root{
    --firstclr:#7c7c7c;
    --secclr:#1c1c1c;
    --thirdclr: #edeff1;
    --fourclr: #0079d3;
    --fifthclr: #1a1a1b;
}
.notification-settings-section{
    width: 65%;
}
.notification-settings-heading{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: var(--secclr);
    padding: 40px 0;
}
.headings-titles{
    font-size: 10px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 12px;
    border-bottom: 1px solid var(--thirdclr);
    text-transform: uppercase;
    color: var(--firstclr);
}
.mention_username-checkbox,
.comments-posts-checkbox,
.upvotes-posts-checkbox,
.upvotes-comments-checkbox,
.replies-comments-checkbox,
.new-followers-checkbox,
.trending-posts-checkbox,
.post-follows-checkbox{
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

@media screen and (max-width: 730px) {
    .notification-settings-section{
        width: 100%;
    }
}