.signup-close-button{
    border-radius: 50%;
    background-color: #F2F4F5;
    border: none;
    color: #ffffff;
    width: 40px;
    height: 40px;
}

.signup-close-button:hover{
    background-color: #EAEDEF;
}

.signup-header{
    font-size: 1.8rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
    font-weight: 700;
    color: #0f1a1c;
}

.signup-policy{
    font-size: 0.8rem;
    font-size: 0.9rem;
}

.signup-modal{
    border-radius: 20px;
    height: 800px;
}

.continue-with-google{
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #BFBFBF;
    border-radius: 30px;
    width: 100%;
    font-size: 18px;
}

.signup-email-input{
    background-color: #F2F4F5;
    border-radius: 20px!important;
    border: none;
    height: 60px;
    color: #000000;
    font-weight: 400;
    font-size: 18px!important;
    padding-left: 20px;
}

.signup-email-input:hover{
    background-color: #EAEDEF;
}

.signup-email-input::placeholder{
    font-size: 18px;
}

.signup-email-input:focus{
    background-color: #EAEDEF;
}

.continue-button{
    background-color: #cc361d!important;
    border-radius: 30px;
    border: none!important;
    color: #ffffff!important;
    font-size: 18px;
    font-weight: 700;
    height: 60px;
}

.continue-button:hover{
    background-color: #962900!important;
}

.custom-translate{
    transform: translate(-400%, -50%);
}

.custom-translate-username-modal{
    transform: translate(-400%, 200%);
}

.custom-translate-username-modal-error{
    transform: translate(-100%, -50%);
}

.continue-button-disabled{
    font-size: 16px;
    font-weight: 700;
    height: 60px;
    border-radius: 30px;
    border: none!important;
    background-color: rgba(0, 0, 0, 0.05)!important;
    color: rgba(0, 0, 0, 0.25)!important;
}

.signup-back-button{
    border-radius: 50%;
    background-color: #FFFFFF;
    border: none;
    width: 50px;
    height: 50px;
}

.signup-back-button:hover{
    background-color: #EAEDEF;
}

.username-alert{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
    font-size: 18px;
}

.shuffle-button{
    transform: translate(-80%, -50%);
    cursor: pointer;
}

.custom-translate-username-field{
    transform: translate(-240%, -50%);
}

.custom-translate-username-field-error{
    transform: translate(-250%, -50%);
}

.skip-button{
    font-size: 18px;
    font-weight: 600;   
    border-radius: 50px;
    color: #576f76!important;
}

.skip-button:hover{
    background-color: #EAEDEF;
}

.identify-text{
    font-size: 18px;
    font-weight: 600;
    color: #576f76;
}

.gender-button{
    border-radius: 30px!important;
    background-color: #eaedef!important;
    border: none!important;
    width: 100%!important;
    color: #000000 !important;
    font-size: 18px!important;
    font-weight: 600!important;
}

.gender-button:hover{
    background-color: #e2e7e9!important;
}

.interests{
    font-size: 1.2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
    font-weight: 700;
    color: #0f1a1c;
}

.preferences-button{
    border-radius: 20px;
    background-color: #eaedef;
    border: none;
    width: auto;
    color: #000000;
    font-size: 16px;
}

.preferences-button:hover{
    background-color: #e2e7e9;
}

.clicked{
    background-color: rgb(255, 237, 229)!important;
    border: 1px solid #ff4500!important;
}

.preferences-disabled{
    font-size: 18px!important;
}