.username-mentions-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #edeff1;
    height: 100vh;
    overflow-y: auto;
}
.username-mentions-message-table{
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    height: 130px;
}