.post-methods{
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    margin: 0 0 12px;
    overflow: auto;
}
.button-group{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    font: inherit;
    vertical-align: baseline;
}