.fixed-container{
  position: fixed;
  top: 4rem; 
  right: 3rem;
  height: calc(100vh - 2rem); 
  overflow-y: auto;
}

.posts-container{
  margin-left: 20rem;
}

@media (max-width: 1200px){
  .posts-container{
    margin-left: 5rem;
  }
  .fixed-container{
    overflow-y: hidden!important;
  }
  
}
