.navbar {
    height: 56px;
    padding: 0 16px;
    justify-content: space-between;
    box-shadow: 0 0 10px black;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 3;
}
.navbar .navbar-brand img{
    height: auto;
    width: 50px;
}
.navbar .navbar-nav .nav-item a{
    padding: 15px;
}
.navbar .navbar-nav .nav-but{
    padding: 10px;
}
.navbar .navbar-nav input{
    width: 100%;
    outline: 0;
    border: none;
    border-right: none;
    border-radius: 0 25px 25px 0;
    padding: 12px;
    font-size: 1.2rem;
    background: #edeff1;
}
.navbar .navbar-nav input:hover{
    background: #edeff1ab;
}
.navbar .navbar-nav form{
    display: flex;
    height: 40px;
    width: 550px;
}
.navbar .navbar-nav button{
    width: 64px;
    border: none;
    border-radius: 25px 0 0 25px;
    padding-top: 2px;
    cursor: pointer;
    background-color: #edeff1;
}
.navbar .navbar-nav img{
    width: 20px;
    height: 20px;
}
.navbar .navbar-nav a:hover{
    background-color: #edeff1;
    border-radius: 999px;
}

.signup-button{
    background-color: #f8f9fa!important;
    border: none;
}

.signup-button:hover{
    border-radius: 999px!important;
}

::after{
    content: none!important;
}

.signup-button-item{
    width: 200px!important;
    font-size: 0.875rem!important;
    color: #0F1A1C!important;
    font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;;
}

.signup-button-item:hover{
    background-color: #f2f4f5!important;
    border-radius: 0!important;
}

.dropdown-menu{
    width: 200px!important;
}