*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.curio-logo{
    height: auto;
    width: 50px;
}
.navbar-component{
    width: 100%;
    height: 56px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background: white;
}
#chk1{
    display: none;
}
.navbar-component .logo{
    flex: 1;
    color: #fff;
    margin-left: 50px;
    text-transform: uppercase;
    display: flex;
}
.navbar-component .logo .title-platform{
    font-size: 2.2em;
    color: #000;
}
.navbar-component .search-box{
    flex: 1;
    position: relative;
}
.search-box input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: #f2f2f2;
    border-radius: 30px;
    color: gray;
    font-size: 16px;
    padding-right: 5px;
    padding-left: 40px;
}
.search-box button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0.9);
    background: transparent;
}
.search-icon{
    color: #000;
}

.sub-right-navbar{
    display: flex;
    align-items: center;
}
.navbar-component .right-section-navbar{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.navbar-component .right-section-navbar .sub-right-navbar{
    list-style: none;
}
/* .navbar-component .right-section-navbar .sub-right-navbar a img{
    height: 32px;
} */
.navbar-component .right-section-navbar .sub-right-navbar a{
    padding: 10px 10px;
}
.navbar-component .right-section-navbar .sub-right-navbar a:hover{
    background-color: #edeff1;
    border-radius: 999px;
}
.navbar-component .menu{
    font-size: 2.5em;
    display: none;
}
.create-icon{
    text-decoration: none;
}
.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 1%;
    width: 256px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
.sub-menu-wrap.open-menu{
    max-height: 800px;
}
.sub-menu{
    background: white;
}


.user-info{
    display: flex;
    align-items: center;
}
.user-info h3{
    font-weight: 500;
}
.user-info img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 15px;
}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    margin-bottom: 7px;
    background-color: gray;
}
.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(19, 19, 19);
    font-size: 14px;
    padding-left: 20px;
    height: 50px;
    width: 100%;
}

.sub-menu-link:hover{
    background-color: #edeff1;
}

.sub-menu-link p,h6{
    position: relative;
    top: 10px;
    width: 100%;
}
.sub-menu-link img{
    height: 20px;
    width: 20px;
    display: inline-block;
}
.sub-menu-link:hover p{
    font-weight: 500;
}

.viewProfile{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(19, 19, 19);
    font-size: 14px;
    padding-left: 15px;
    height: 60px;
    padding-bottom: 5px;
    margin-top : .5px;
    width: 100%;
}

.viewProfile:hover{
    background-color: #edeff1;
}

.profileImg{
    height: 32px;
    width: 32px;
    border-radius: 16px;
    display: inline-block;
}

.last-item1{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(19, 19, 19);
    font-size: 14px;
    padding-left: 20px;
    height: 60px;
    padding-bottom : 20px;
    width: 100%;
}

.last-item1:hover{
    background-color: #edeff1;
}

@media(max-width:1000px) {
    .navbar-component .right-section-navbar{
        background: gray;
    }
    .search-box button{
        position: absolute;
    }
    .navbar-component ul{
        position: fixed;
        top: 35px;
        right: -100%;
        /* background: white; */
        height: 100vh;
        width: 50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
    .navbar-component .menu{
        display: block;
        width: 100px;
        text-align: center;
    }
    #chk1:checked ~ ul{
        right: 0;
    }
}
@media(max-width:600px){
    .navbar-component .logo{
        font-size: 10px;
        margin-left: 8px;
    }
    .navbar-component ul{
        width: 100%;
    }
}
@media(max-width:960px){
    .navbar-component .logo h1{
        display: none;
    }
}

.dropdown-toggle::after{
    display: none;
}

.new-dropdown-signup:hover{
    cursor: pointer;
}

.new-dropdown-label:hover{
    color: #0d6efd;
}


.logged-out-button{
    border-radius: 50%;
    padding: 5px;
}
.logged-out-button:hover{
    cursor: pointer;
}

.signup-focus:active{
    color: #000;
}

.logged-out-login-button{
    background-color: #d93a00;
    color: #fff;
    font-weight: 600;
    border-radius: 20px;
}

.logged-out-login-button:hover{
    background-color: #962900;
    cursor: pointer;
}

.drop-down-description{
    margin-left: 1rem;
}

.drop-down-profile-description{
    margin-left: 10px;

}

.contribNumber{
    margin-left: 5px;
}

.ArrowandNumber{
    color: rgb(87, 111, 118);
    font-size: 12px;
}

.switchDiv{
    position: relative;
}

.switchplacement{
    position: absolute;
    right: 1rem;
}

.navImg{
    height: 20px;
    width: 20px;
}

.usernameText{
    margin-left: 10px;
}

.link-offcanvas .dropdown-menu{
    width: 256px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    font-size: 14px;
}
