.trending-header{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    color: rgb(100, 114, 120);
}
h5{
    font-size: 15px;
    font-weight: 500;
    color: rgb(44, 60, 66);
    margin-bottom: 0px;
}
.trending-post-description{
    font-size: 12px;
    margin-bottom: 0.5rem;
}
.trending-post-subreddit{
    font-size: 12px;
    color: rgb(100, 114, 120);
    margin-bottom: 0px;
}
.card-body{
    margin: 0px;
    padding: 0px;
}
.card-body :hover{
    background-color: #edeff1;
    cursor: pointer;
}

.card-body-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.trending-img{
   width: 96px;
   height: 72px;
   border-radius: 5px;
    
}
@media screen and (max-width: 730px) {
    .trending-img{
        display: none;
    }
}
.break-line-trending{
    
    
    border-bottom: #edeff1 2px solid;
    color: rgb(44, 60, 66);
}