.recent-posts-card{
    background-color: #F9FAFA;
    border-radius: 20px;
    height: auto;
}

.small-header{
    color: #576f76;
    font-size: 0.8rem;
    font-weight: 600;
}

.sub-recent-name{
    color: #576f76;
    font-size: 0.8rem;
}

.sub-recent-name:hover{
    text-decoration: underline;
    cursor: pointer;
}

.post-header{
    color: #576f76;
    font-size: 0.9rem;
    font-weight: 600;
    text-wrap: wrap;
}

.post-header:hover{
    text-decoration: underline;
    cursor: pointer;
}

.post-small-footer{
    color: #576f76;
    font-size: 0.75rem;
    line-height: 1rem;
}

.card-subreddit-name{
    color: #0f1a1c;
    font-size: 1.3rem;
    font-weight: 1200!important;
}

.card-subreddit-name:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #0045ac;
}

.join-button-recent{
    background-color: #EAEDEF!important;
    color: #000000!important;
    height: 1.2rem!important;
    width: 3.4rem!important;
    font-size: 0.7rem!important;
    font-weight: 700!important;
    border-radius: 10px;
}

.join-button-recent:hover{
    background-color: #E2E7E9!important;
    font-size: 0.7rem!important;
}

.border-radius-set{
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.subreddit-description{
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
    color: #000000;
    font-size: 0.875rem;
}

.card-subreddit-footer{
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
    color: #000000;
    font-size: 0.875rem;
}

.recent-card-visibility{
    visibility: visible;
}   

@media (max-width: 1200px){
    .recent-card-visibility{
        visibility: hidden;
    } 
}