.sent_message_content{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #edeff1;
    min-height: 150px;
    /* height: 100vj; */
    overflow-y: auto;
}
.sent_message_table{
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    /* margin-top: 70px; */
    padding: 10px 15px;
    height: 130px;
}

@media screen and (max-width: 500px) {

    .sent_message_table {
        height: 150px;
    }
}

@media screen and (max-width: 315px) {

    .sent_message_table {
        height: 170px;
    }
}

@media screen and (max-width: 215px) {

    .sent_message_table {
        height: 190px;
    }
}